[Unit]
Description=Randomize MAC address at boot
After=network-pre.target
Before=network.target
Wants=network-pre.target

[Service]
Type=simple
ExecStart=/usr/local/bin/change-mac.sh
restart=always

[Install]
WantedBy=multi-user.target

